header.header{
    background-color: #f1d104;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    flex: row;
}

header.header h1{
    font-size: 3.8em;
}